# "org" ensures this Service is used with the correct Serverless Framework Access Key.
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: backend
# "service" is the name of this project. This will also be added to your AWS resource names.
service: smart-album

functions:
  register:
    handler: functions/register.register
    events:
      - httpApi:
          path: /register
          method: post
  login:
    handler: functions/login.login
    timeout: 30
    events:
      - httpApi:
          path: /login
          method: post
  savePhoto:
    handler: functions/savePhotos.savePhoto
    timeout: 30
    events:
      - httpApi:
          path: /
          method: post
          authorizer: 
            name: userAuthoriser
  getPhotos:
    handler: functions/getPhotos.getPhotos        
    events: 
      - httpApi: 
          path: /
          method: get
          authorizer: 
            name: userAuthoriser
  updatePhoto:
    handler: functions/updatePhoto.updatePhoto
    timeout: 25
    events:
      - httpApi:
          path: /update
          method: post
          authorizer: 
            name: userAuthoriser
  deletePhoto:
    handler: functions/deletePhoto.deletePhoto
    timeout: 25
    events:
      - httpApi:
          path: /delete
          method: delete  
          authorizer: 
            name: userAuthoriser

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  environment:
    USER_POOL: "us-east-1_LIJUJNtDL"
    USER_POOL_CLIENT: "7mtrhplhsq2573s5uqkiaek9ps"
    # { Ref: UserClient }
    ORIGINAL_BUCKET_NAME: ${self:service}-public-photos-${sls:stage}
    THUMBNAIL_BUCKET_NAME: ${self:service}-public-thumbs-${sls:stage} 
    PHOTOS_TABLE: ${self:service}-rekognition-photos-${sls:stage}
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com
  httpApi:
    cors: true
    authorizers:
      userAuthoriser:
        identitySource: $request.header.Authorization
        issuerUrl: "https://cognito-idp.us-east-1.amazonaws.com/us-east-1_LIJUJNtDL"
        audience:
          - "7mtrhplhsq2573s5uqkiaek9ps"


  iam:
    role:
      statements:
        - Effect: Allow
          Action:
          - cognito-idp:AdminInitiateAuth
          - cognito-idp:AdminCreateUser
          - cognito-idp:AdminSetUserPassword
          Resource: "*"
        - Effect: Allow
          Action:
          - "s3:*"
          Resource: 
          - "arn:aws:s3:::${self:service}-public-photos-${sls:stage}"
          - "arn:aws:s3:::${self:service}-public-photos-${sls:stage}/*"
        - Effect: Allow
          Action:
          - "s3:*"
          Resource: 
          - "arn:aws:s3:::${self:service}-public-thumbs-${sls:stage}" 
          - "arn:aws:s3:::${self:service}-public-thumbs-${sls:stage}/*" 
        - Effect: Allow
          Action: 
            - "rekognition:detectLabels"
          Resource: "*"
        - Effect: Allow
          Action: 
          - 'dynamodb:PutItem'    
          - 'dynamodb:Get*'    
          - 'dynamodb:Scan'    
          - 'dynamodb:Query'    
          - 'dynamodb:UpdateItem'    
          - 'dynamodb:DeleteItem'    
          Resource: "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-rekognition-photos-${sls:stage}"
    
resources:
  Resources:
    UserPool: 
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-pool-${sls:stage}
        Schema: 
          - Name: email
            Required: true
            Mutable: true
        Policies:
          PasswordPolicy: 
            MinimumLength: 6
        AutoVerifiedAttributes: ["email"]    
    UserClient: 
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-client-${sls:stage}
        GenerateSecret: false
        UserPoolId: 
          Ref: UserPool
        AccessTokenValidity: 5
        IdTokenValidity: 5
        ExplicitAuthFlows: 
          - "ADMIN_NO_SRP_AUTH"
    PhotosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-rekognition-photos-${sls:stage} 
        AttributeDefinitions:
          - AttributeName: primary_key
            AttributeType: S
        KeySchema:
          - AttributeName: primary_key
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    PhotoBucket: 
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:service}-public-photos-${sls:stage} 
    PhotoBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref PhotoBucket
        PolicyDocument:
          Statement:
            - Effect: Allow
              Principal: "*"
              Action: s3:GetObject
              Resource: !Sub "${PhotoBucket.Arn}/*"
    ThumbsBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: ${self:service}-public-thumbs-${sls:stage}
        PolicyDocument:
          Statement:
            - Effect: Allow
              Principal: "*"
              Action: s3:GetObject
              Resource: arn:aws:s3:::${self:service}-public-thumbs-${sls:stage}/*
plugins:
  - serverless-dotenv-plugin
  - serverless-offline
custom:
  serverless-offline:
    noAuth: true

